<h1 class="slim-text">About Me</h1>
<p>I am Mohammed Riyazuddin, a Computer Science and Engineering graduate from Indur Institute of Engineering and Technology.</p>
<p>After my graduation, I was able to do an internship with Deepthought Edutech Ventures. I was working for a teaching + development role. During my internship, I was able to apply my skills and also learned what it means to work with a team as a micro lead while managing projects and mentoring around 200 students. My responsibilities include meetings with CxOs for product development from its ideation state to execution state.</p>
<p>I am currently looking for a job in the field of Software Development/Software Engineering. I have made a few projects around the skills that are mentioned below.</p>
<h3 class="slim-text">My Skills</h3>
<p>As I am a self-learner, I am aware of ups and downs, lefts and rights, every corner of the learning curve. The worst part about self-learning is the unlearn-relearn cycle, although it was a hard way to do it, I am aware of the possible mistakes one would make when learning and working with these technologies.</p>
<p><strong>Programming Languages:</strong></p>
<ul>
    <li>C/C++</li>
    <li>Java</li>
    <li>Python</li>
    <li>JavaScript</li>
</ul>
<p><strong>Web Development Technologies:</strong></p>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>jQuery</li>
</ul>
<p><strong>Backend Technologies:</strong></p>
<ul>
    <li>Django (Python web framework)</li>
    <li>Node.js (JavaScript runtime)</li>
    <li>REST API</li>
    <li>GraphQL</li>
</ul>
<p><strong>Frontend Technologies:</strong></p>
<p>React.js (JavaScript library for building user interfaces)</p>
<p><strong>Database Technologies:</strong></p>
<ul>
    <li>MySQL</li>
    <li>MongoDB</li>
</ul>
<p><strong>Version Control and Collaboration:</strong></p>
<p>GitHub</p>

<!-- TODO -->
<!-- Add certificates -->