<div class="d-flex flex-column h-100 justify-content-center">
    <h1 class="greetings great-vibes-regular m-4">Greetings!</h1>
    <div class="my-info-home ms-4">
        <p>I am <br><a href="#" style="font-size: 24px; font-style: italic;">Mohammed Riyazuddin</a></p>
        <p>A Software Development enthusiast from <a href="https://maps.app.goo.gl/W487zJXVTfyhfsTz9" target="_blank" rel="noopener noreferrer">Siddipet, Telangana, India</a>.</p>
        <p>I am a self-learner, so you can assume that everything I know, I have learned it through experimentation, practice, and (of course) mistakes. </p>
        <span style="cursor: pointer;" onclick="document.getElementById('contact').click()"><u>Connect</u> <i class="fa-brands fa-connectdevelop"></i></span>
    </div>
    <span class="ms-auto" style="color: grey; cursor: pointer;" onclick="document.getElementById('about').click()"><u>know more  >></u></span>
</div>